
body{
    margin-top: 30px;
    margin-bottom: 70px;
}

.blocklink{
    color: #333;
}

.blocklink{
    text-align: center;
}

a.blocklink:hover, a.blocklink:focus{
    color: #333;
    text-decoration: none;
}

.project{
    height: 10em;
}

.video{
    text-align: center;
    margin: 30px auto;
}

.video img{
    padding: 1px;
    border-color: #999;
    border-style: solid;
    border-width: 1px;
    max-height: 91px;
}